* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    h1 {
        color:#ffffff; 
        font-family: cursive; 
        font-size: 5ch;
    }
    strong {
        color: #22D4FD;
    }
    .titulo-destaque {
        color: #22D4FD;
        border: 1px solid #22D4FD;
        padding: 10px;
    }
    p {
        color: #F6F6F6;
    }
    .texto-destaque {
        color: red;
    }

}
a {
    color: #11d3ff;
}