* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /* alinhar e formatar o site */
    box-sizing: border-box;
    background-color: black;
    color: white;
    header {
        display: flex;
        justify-content: center;
    }
    h1 {
        color:#ffffff; 
        font-family: cursive; 
        font-size: 5ch;
    }
    strong {
        color: #22D4FD;
    }
    .titulo-principal{
        margin: 20px;
    }
    .titulo-destaque {
        color: #22D4FD;
        border: 1px solid #22D4FD;
        padding: 10px;
    }
    p {
        color: #F6F6F6;
    }
}
a {
    color: #11d3ff;
}
.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

